CLIENT_URL=

DB_NAME=
DB_TYPE=
DB_PORT=
DB_PASSWORD=
DB_USERNAME=
DB_HOST=

ELASTICSEARCH_NODE=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

JWT_SECRET=
JWT_EXPIRY=
SALT=

AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_RETRY_TIMES=

DEFAULT_BACKGROUND_IMAGE=
DEFAULT_AVATAR_IMAGE=

REDIS_PORT=
REDIS_HOST=